.BookList{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  li{
    width: 33.33%;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      width: 50%;
    }
    @media (max-width: 479px) {
      width: 100%;
    }
  }
}